.btn:focus, .btn:active:focus, .form-control:focus {
	outline: none;
	border: 1px solid #ccc;
	box-shadow: none;
}

/***** NAVIGATION *****/
@media ( min-width: 768px ) { 
	.navbar {
		background-color: #fff;
		margin-bottom: 0px;
		min-height: 70px;
	}

	.navbar .container-fluid {
		text-align: center;
	}

	.navbar-header, .navbar-brand, .navbar .navbar-nav, .navbar .navbar-nav > li {
	    float: none;
	    display: inline-block;
	}

	.collapse.navbar-collapse {
	    float: none;
	    display: inline-block !important;
	    width: auto;
	    clear: none;
	}
}

.navbar.navbar-default {
	margin-bottom: 0px;
}

.navbar-header {
	min-height: 70px;
	background-color: #fff;
}

.navbar-toggle.collapsed, .navbar-toggle {
	margin-top: 18px;
	margin-bottom: 18px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-collapse.collapsing, .navbar-collapse.collapse.in {
	background-color: #fff;
}

.navbar-brand > img {
	height: 45px;
	width: 125px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #e94e38;
	background-color: #fff;
}

.nav.navbar-nav {
	text-transform: uppercase;
}

.nav.navbar-nav > .active > a, .nav.navbar-nav > .active > a:hover, .nav.navbar-nav > li > a:hover {
	color: #e94e38;
	background-color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #e94e38;
	background-color: #fff;
}

.dropdown-menu {
	padding: 8px;
	min-width: 200px;
	border: 1px solid #e7e7e7;
	font-size: 14px;
	text-transform: none;
}

.login input.form-control {
	font-weight: 300;
	letter-spacing: 1px;
}

.login input[type="text"] {
	outline: none;
} 

.login .btn.btn-default {
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #fff;
}

.login .form-control {
	box-shadow: none;
}

.login a {
	font-size: 12px;
	text-decoration: none;
	color: #bbb;
	font-weight: 300;
	letter-spacing: 1px;
}

.login a:hover {
	text-decoration: none;
	color: #333;
	font-weight: 300;
	letter-spacing: 1px;
}


/***** INDEX *****/
.intro {
	background-image: url("../images/apartment.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	border-image-width: 100%;
	background-position: absolute;
}

.intro {
	min-height: 710px;
	text-align: center;
}

.intro-message h1 {
	color: #000;
	font-size: 75px;
	font-weight: 300;
	margin-top: 175px;
	margin-bottom: 50px;
	letter-spacing: 1px;
}

.intro form.navbar-form {
	box-shadow: none;
}

.intro .form-group input[type="text"] {
	border: 1px solid #555;
	background: rgba(111, 111, 111, 0.45);
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 300;
	color: #222;
	padding: 15px;
	width: 100%;
	min-width: 380px;
	height: 55px;
	border-radius: 25px;
}

.intro .form-control {
	display: inline-block;
}

.intro .btn.btn-default {
	background-color: #e94e38;
	border: none;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 500;
	color: #fff;
	width: 100px;
	height: 55px;
	border-radius: 25px;
	margin-left: 10px;
	margin-right: 10px;
}

.social-icons {
	margin-top: 265px;
}

.social-icons img {
	height: 45px;
}

.social-icons .copyright.text-muted {
	color: #fff;
}

/***** BROWSE *****/
#location, #type, #min-rent, #max-rent, #beds, #baths {
	margin-bottom: 15px;
}

.filter {
	margin-top: 25px;
	margin-bottom: 25px;
}

.filter #dropdown {
	margin-top: 10px;
}

.filter button, .filter button:hover {
	border: 1px solid #555;
	background: rgba(111, 111, 111, 0.15);
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: 400;
	color: #222;
	height: 50px;
	border-radius: 25px;
}

.filter .btn-input {
   display: block;
}

.filter .btn-input .btn.form-control {
    text-align: left;
}

.filter .btn-input .btn.form-control span:first-child {
   left: 20px;
   overflow: hidden;
   position: absolute;
   right: 25px;
}

.filter .btn-input .btn.form-control .caret {
   margin-top: -1px;
   position: absolute;
   right: 10px;
   top: 50%;
}

.filter .caret {
	color: #e94e38;
	width: 9px;
	margin-right: 12px;
}

.filter .dropdown-menu {
	min-width: 325px;
	background-color: #e94e38;
	border: none;
	border-radius: 10px;
}

.filter .dropdown-menu > li > a {
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 300;
}

.filter .dropdown-menu > li > a:hover, .filter .dropdown-menu > li > a:focus {
	background-color: #dd3e27;
}

.filter #checkbox-filter .col-lg-4.col-md-4.col-sm-4.col-xs-12 {
	text-align: center;
}

.filter #checkbox-filter label {
	color: #222;
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: 400;
}

.filter button[type="filter"] {
	background-color: #e94e38;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 500;
	color: #fff;
	width: 95px;
	height: 40px;
	border-radius: 25px;
}

.properties {
	background: rgba(111, 111, 111, 0.10);
}

.properties .container {
	padding-top: 15px;

}

.properties .thumbnail {
	border: none;
	padding: 0px;
	height: 285px;
	width: auto;
}

.properties .thumbnail a > img {
	width: 100%;
	height: 188px;
	border-bottom: 3px solid #1baf5d;
}
.properties .thumbnail .caption {
	text-align: center;
}

.properties h3 {
	margin-top: 15px;
	margin-bottom: 10px;
}

.properties h4 {
	margin-top: 7px;
	margin-bottom: 3px;
	text-transform: uppercase;
}

.properties .thumbnail .caption, .properties .thumbnail .caption h3, .properties .thumbnail .caption a {
	text-decoration: none;
	color: #666;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 500;
}

.properties .thumbnail .caption {
	vertical-align: middle;
	font-size: 12px;
}

.properties .thumbnail .caption h4 > a {
	color: #28AE60;
	font-size: 13px;
}

.properties .thumbnail .caption h4 > a:hover, .properties .thumbnail .caption h4 > a:focus {
	color: #e94e38;
}

.properties .caption > img {
	margin-right: 5px;
	vertical-align: middle;
}

/***** ABOUT *****/
.about {
	margin-top: 35px;
	margin-bottom: 35px;
}

.about h2, .about p {
	letter-spacing: 1px;
}

.about h2 {
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 20px;
}

.about p {
	font-size: 14px;
	font-weight: 300;
}

.photos .col-lg-2.col-md-2.col-sm-4.col-xs-4 {
	padding-left: 8px;
	padding-right: 8px;
}

.photos .thumbnail {
	border: none;
	padding: 0px;
}

.photos .thumbnail > img {
	width: 150px;
	border-radius: 10px;
}

.photos .thumbnail .caption {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

.photos h3, .photos h4 {
	color: #333;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.photos h3 {
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 5px;
}

.photos h4 {
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 5px;
}

/***** CONTACT *****/
.contact-info {
	margin-top: 35px;
	text-align: center;
	color: #333;
	letter-spacing: 1px;
}

.contact-info img#eyes {
	height: 125px;
	width: auto;
}

.contact-info h2 {
	font-size: 30px;
	font-weight: 400;
}

.contact-info h3 {
	font-size: 15px;
	font-weight: 300;
	margin-top: 7px;
}

.contact-info ul {
	margin-top: 20px;
	margin-bottom: 35px;
}

.contact-info .social-buttons li {
	margin-left: 15px;
	margin-right: 15px;
}

.contact-info .social-buttons img {
	height: 25px;
}

.contact-form {
	text-align: center;
}

.contact-form input.form-control {
	margin-top: 10px;
	margin-bottom: 45px;
}

.contact-form .form-control {
	box-shadow: none;
	border: none;
	border-radius: 0px;
	border-bottom: 2px solid #777;
	padding-left: 0px;
	letter-spacing: 1px;
	resize: none;
}

.contact-form textarea.form-control {
	margin-bottom: 45px;
}

.contact-form .btn.btn-default {
	background-color: #e94e38;
	border: none;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 500;
	color: #fff;
	width: 100px;
	height: 55px;
	border-radius: 25px;
	margin-bottom: 20px;
}

/***** REVIEW *****/
.write-review {
	margin-top: 35px;
	letter-spacing: 1px;
	text-align: center;
}

.write-review h2 {
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 35px;
	text-transform: uppercase;
}

.write-review .form-group {
	margin-bottom: 20px;
}

.write-review .form-group .control-label, .write-review .col-lg-7, .write-review #radio {
	text-align: left;
}

.write-review .form-group label {
	text-transform: uppercase;
	font-weight: 400;
}

.write-review  .form-control {
	box-shadow: none;
	border-radius: 15px;
	border: 1px solid #777;
	letter-spacing: 1px;
	resize: none;
}

.write-review .radio-inline {
	margin-right: 45px;
}

.write-review .radio-inline + .radio-inline {
	margin-left: 0px;
}

.write-review .btn.btn-default {
	background-color: #e94e38;
	border: none;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 500;
	color: #fff;
	width: 100px;
	height: 55px;
	border-radius: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
}

/***** MANGEMENT *****/
.management {
	margin-top: 45px;
	margin-bottom: 35px;
	letter-spacing: 1px;
	color: #333;
}

.management .map iframe {
	height: 250px;
	width: 100%;
}

.management .rating {
	float: left;
}

.management .rating h2 {
	padding-left: 15px;
	padding-right: 15px;
	color: #28AE60;
	font-weight: 500;
	font-size: 32px;
	margin-bottom: 20px;
}

.management .rating .col-lg-6 {
	padding: 0px;
}

.management .rating h3 {
	font-size: 20px;
	font-weight: 400;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 20px;
}

.management .rating img {
	vertical-align: top;
	display: inline-block;
}

/***** PROPERTY *****/
.property {
	margin-top: 35px;
	margin-bottom: 25px;
	letter-spacing: 1px;
	color: #333;
	text-align: center;
}

.property #property h2 {
	font-weight: 500;
	font-size: 32px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.property #property img {
	margin-bottom: 10px;
}

.property .preview img {
	border-radius: 25px;
	padding-bottom: 10px;
	height: 250px;
}

.property .thumbnails img {
	height: 35px;
	border-radius: 5px;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.property .rating {
	text-align: left;
}

.property .rating .col-lg-6 {
	padding: 0px;
}

.property .rating h2 {
	padding-left: 15px;
	padding-right: 15px;
	color: #28AE60;
	font-weight: 500;
	font-size: 32px;
	margin-top: 10px;
	margin-bottom: 45px;
}

.property .rating h3 {
	font-size: 20px;
	font-weight: 400;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 25px;
}

.property .rating img {
	vertical-align: top;
	display: inline-block;
}

.property .btn.btn-default {
	background-color: #e94e38;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 500;
	color: #fff;
	width: 165px;
	height: 55px;
	border-radius: 25px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.reviews {
	background: rgba(111, 111, 111, 0.10);
}

.reviews .container {
	padding-top: 15px;
}

.reviews #review {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 25px;
	margin-bottom: 25px;
	padding: 10px;
}

.reviews .rating h3 {
	text-align: left;
	color: #28AE60;
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 10px;
	padding-left: 30px;
}

.reviews .rating h4 {
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	float: left;
	margin-top: 5px;
	margin-bottom: 15px;
}

.reviews .rating img {
	vertical-align: top;
	display: inline-block;
	float: left;
}

.reviews .review {
	text-align: left;
	margin-top: 15px;
	margin-bottom: 15px;
}

/***** SUBMISSION *****/
.sub {
	background-image: url("../images/bedroom.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	border-image-width: 100%;
	background-position: absolute;
}

.sub {
	min-height: 710px;
	text-align: center;
}

.sub-message h1 {
	color: #000;
	font-size: 65px;
	font-weight: 300;
	margin-top: 175px;
	margin-bottom: 45px;
	letter-spacing: 1px;
}

.sub-message h2 {
	color: #000;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 20px;
	letter-spacing: 2px;
}

.sub form.navbar-form {
	box-shadow: none;
}

.sub .form-group input[type="text"] {
	border: 1px solid #555;
	background: rgba(111, 111, 111, 0.25);
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 300;
	color: #222;
	padding: 15px;
	width: 100%;
	min-width: 380px;
	height: 55px;
	border-radius: 25px;
}

.sub .form-control {
	display: inline-block;
}

.sub .btn.btn-default {
	background-color: #e94e38;
	border: none;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 500;
	color: #fff;
	width: 100px;
	height: 55px;
	border-radius: 25px;
	margin-left: 10px;
	margin-right: 10px;
}

.sub .social-icons {
	margin-top: 225px;
}

.sub .social-icons img {
	height: 45px;
}